.contact {
  max-width: 75rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 1rem;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
  }

  &__link {
    margin: 1.5rem 0;
  }
}