.header {
  position: relative;
  width: 100%;
  height: 100vh;
  /* background-color: #000; */
  background: url('../../img/hero--large.jpg'); /* 10/10 This is good */
  /* background: url('../../img/hero-9.jpg'); This is good */
  /* background: url('../../img/hero-11.jpg'); This is good */
  /* background: url('../../img/hero-13.jpg'); This is kinda cool */
  /* background: url('../../img/hero-14.jpg'); This is good */
  /* background: url('../../img/hero-15.jpg'); This is kinda cool */
  /* background: url('../../img/hero-18.jpg'); 9/10 This is good */
  background-size: cover;
  /* background-position: 80% 0%; */
  background-position: top center;
}