@font-face {
  font-family: 'Def Con Zero Grad';
  src: url('./fonts/defconzerograd.ttf')  format('truetype');
}

@font-face {
  font-family: 'Def Con Zero Grad Ital';
  src: url('./fonts/defconzerogradital.ttf')  format('truetype');
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --color-black: #000;
  --color-blue: #01579B;
  --color-light-blue: #00FFFF;
  --color-link: #01579B;
  --color-white: #FFF;

  --font-courier: 'Courier New', Courier, monospace;
  --font-def-con: 'Def Con Zero Grad Ital';
  --font-roboto: 'Roboto', sans-serif;

  font-family: var(--font-roboto);
}