@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@font-face {
  font-family: 'Def Con Zero Grad';
  src: url('./fonts/defconzerograd.ttf')  format('truetype');
}

@font-face {
  font-family: 'Def Con Zero Grad Ital';
  src: url('./fonts/defconzerogradital.ttf')  format('truetype');
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 1rem = 10px; 10px/16px = 62.5% */
}

body {
  box-sizing: border-box;
}

html,
body {
  height: 100%;

  :global(#root) {
    height: 100%;
  }
}

::selection {
  /* background-color: $color-primary;
  color: $color-white; */
}


p {
  margin: 1.5rem 0;
  font-size: 1.6rem;
  line-height: 1.4;
}

section {
  margin-bottom: 3rem;
}

:root {
  --color-black: #000;
  --color-blue: #01579B;
  --color-light-blue: #00FFFF;
  --color-link: #01579B;
  --color-white: #FFF;

  --font-courier: 'Courier New', Courier, monospace;
  --font-def-con: 'Def Con Zero Grad Ital';
  --font-roboto: 'Roboto', sans-serif;

  font-family: var(--font-roboto);
}