.about {
  margin-left: -3rem;
  margin-right: -3rem;

  &__parallax {
    padding: 10rem 1.5rem;
  }

  &__content {
    color: var(--color-white);
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 1.5rem;
    background-color: rgba(66, 66, 66, 0.7);

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  &__icon {
    position: relative;
    top: .25rem;
    margin-left: .25rem;
  }
}